.header {
    background-color: #2C3E50;
    transition: 0.3s;
}
.fas.fa-bars{
    color:white;
}
.header .active{
    background-color:#18BC9C !important;
    border-radius: 10px;
    outline: none;
    color: white !important;
    
}

.shrink{
  height: 70px;
}

.header a {
    outline: none;
    border: none;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-weight: 4000;
}

.header #about:hover{
    color:#18BC9C;
}
.header #portfolio:hover{
    color:#18BC9C;
}
.header #contact:hover{
    color:#18BC9C;
}

.header #aizaz {
    font-size: 2em;
    color: white;
    background: none;
    font-family: "Montserrat";
    letter-spacing: 0.0625rem;
    font-weight: 700;
}
.header #portfolio,
.header #about,
.header #contact {
    font-size: 1em;
    color: white;
    background: none;
    letter-spacing: 0.0625rem;
}

.major-section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.linebr {
    width: 7.5em;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    overflow: visible;
    display: inline-block;
}
.fas.fa-star {
    position: relative;
    top: -1em;
    font-size: 2em;
}

.intro {
    background-color: #18BC9C;
    color: white;
}

.intro .first-heading {
    color: white;
    font-size: 4.75em;
    font-weight: 400;
}

.intro .second-heading {
    font-size: 1.75em;
    font-weight: 300;
}

.intro .profilephoto {
    width: 256px;
    height: 256px;
}

.portfolio {
    background-color: white;
}

.portfolio img {
    margin-bottom: 20px;
}

.portfolio-header {
    color: #2C3E50;
    font-size: 3em;
    font-weight: 700;
    line-height: 2.5rem;
}


.about {
    background-color: #18BC9C;
    color: white;
}

.about-text {
    font-size: 3rem;
}

.contact {
    background-color: white;
    color: #2C3E50;
}
.contact .form-control{
    font-family:"Montserrat" !important;
}
.contact textarea{
    resize: none !important;
}

.footer {
    background-color: #2C3E50;
    color: white;
}

.copyright-section {
    background-color: #1a252f;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
