.header {
    background-color: #2C3E50;
}
.fas.fa-bars{
    color:white;
}
.header a {
    outline: none;
    border: none;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-weight: 4000;
}

#about:hover{
    color:#18BC9C;
}
#portfolio:hover{
    color:#18BC9C;
}
#contact:hover{
    color:#18BC9C;
}

#aizaz {
    font-size: 2em;
    color: white;
    background: none;
    font-family: "Montserrat";
    letter-spacing: 0.0625rem;
    font-weight: 700;
}



#portfolio,
#about,
#contact {
    font-size: 1em;
    color: white;
    background: none;
    letter-spacing: 0.0625rem;
}


.intro {
    background-color: #18BC9C;
    color: white;
    padding-top: 96px;
    padding-bottom: 96px;
}

.text1 {
    color: white;
    font-size: 4.75em;
    font-weight: 700;
}

.text2 {
    font-size: 1.75em;
    font-weight: 300;
}

.profilephoto {
    width: 256px;
    height: 256px;
}

img {
    margin-bottom: 20px;
}

.linebr {
    width: 7.5em;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    overflow: visible;
    display: inline-block;
}


.fas.fa-star {
    position: relative;
    top: -1em;
    font-size: 2em;
}


.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: white;
}

.portfolio-header {
    color: #2C3E50;
    font-size: 3em;
    font-weight: 700;
    line-height: 2.5rem;
}


.about {
    background-color: #18BC9C;
    color: white;
    padding-top: 96px;
    padding-bottom: 96px;
}

.about-text {
    font-size: 3rem;
}

.contact {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: white;
    color: #2C3E50;
}

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2C3E50;
    color: white;
}

.end {
    background-color: #1a252f;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
